*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #121212;
}


@import "./header.scss";
@import "./home.scss";
@import "./swiper.scss";
@import "./footer.scss";
@import "./login.scss";
@import "./register.scss";